/forms/var/cache/*
/forms/var/logs/*
!forms/var/cache/.gitkeep
!forms/var/logs/.gitkeep

# Parameters
/forms/app/config/parameters.yml

# Managed by Composer
/forms/app/bootstrap.php.cache
/forms/var/bootstrap.php.cache
/forms/bin/*
!forms/bin/console
!forms/bin/symfony_requirements
/forms/vendor/

# Assets and user uploads
/forms/web/bundles/
/forms/web/uploads/

# PHPUnit
/forms/app/phpunit.xml
/forms/phpunit.xml
