{% extends 'base.html.twig' %}

{% block title %}Thank you!{% endblock %}

{% block body %}

    {% for message in app.session.flashbag.get('notice') %}
        <p>{{ message }}</p>
    {% endfor %}

    {% include 'parts/menu.html.twig' %}

{% endblock %}


