{% extends 'base.html.twig' %}

{% block body %}

    {% trans %}
    Welcome %user_name%!
    {% endtrans %}

    <h2>{% trans %}header.apples{% endtrans %}</h2>
    <ul>
        {% for count in counts %}
            <li>
                {{ count }}:
                {% transchoice count %}
                {0} There are no apples|{1} There is one apple|]1,Inf[ There are %count% apples
                {% endtranschoice %}
            </li>
        {% endfor %}
    </ul>

    <h2>{% trans %}header.pies{% endtrans %}</h2>
    <ul>
        {% for count in counts %}
            <li>
                {{ count }}:
                {% transchoice count %}
                There is a pie|There are %count% pies
                {% endtranschoice %}
            </li>
        {% endfor %}
    </ul>

{% endblock %}

