{% extends 'base.html.twig' %}

{% block body %}
    <div>
        {% for government in governments %}
            <div>
                {{ government.planet.name }}
            </div>
        {% endfor %}
    </div>
{% endblock %}

